.topnavFixed{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100rpx;
    top:0;
    button{

        justify-content: center;
        align-items: center;
        background: #8a8acb;
        // background: radial-gradient( #8a8acb 30%,#3bb2d0 50%);
        color: white;
        width:100% !important;
    }
}
.topnavAbsolute{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100rpx;
    button{

        justify-content: center;
        align-items: center;
        background: #8a8acb;
        // background: radial-gradient( #8a8acb 30%,#3bb2d0 50%);
        color: white;
        width:100% !important;
    }
}
.zhanwei{
    height: 100rpx;
}